.section--one {
    background-color: var(--backgroundSecOne);

    @media (max-width: 639.98px) {
        height: 100%;
    }
}

.slider--container {
    position: relative;

    .arrow {
        border: solid var(--black);
        border-width: 0 2px 2px 0;
        padding: 3px;
        position: absolute;
        display: none;
        height: 16px;
        width: 16px;
        top: 43.3%;
        z-index: 1;

        &.right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            right: 7.5%;

        }

        &.left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            left: 7.5%;
        }

        @media only screen and (min-width: 992px) {
            display: inline-block;
        }

        @media (min-width: 1399.98px) {
            top: 53.4%;
        }
    }

    .dots {
        display: flex;
        transform: translateX(-50%);

        @media (max-width: 639.98px) {
            left: 44.7%;
            top: 90%;
        }

        .dot {
            width: 15px;
            height: 15px;
            border-radius: 8px;
            background-color: #ffffff;
            border: 3px solid #e5e5e5;

            @media only screen and (min-width: 992px) {
                display: none;
            }

            &.active {
                background-color: #e5e5e5;
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    .align-wrapper {
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: baseline;
    }

    .dotsNumbers-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        margin-top: -10px;

        .slide-number {
            font-family: var(--fontMoney);

            >span {
                font-family: var(--fontExtra);
            }
        }
    }
}

.slides {
    overflow: hidden;

    .slide {
        width: 50%;
        position: relative;

        .image {
            height: calc(90vh - 100px);
            display: block;
            position: relative;
            left: 10%;

            @media (max-width: 991.98px) {
                height: calc(70vh - 200px);
            }
        }

        .img {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100%;
            object-fit: contain;
        }
    }
}

.slide-text {
    position: absolute;
    left: 65%;
    top: 40%;
    font-family: var(--fontTask3);
    font-size: 32px;
    letter-spacing: 3.2px;
    line-height: 58px;
    z-index: 1;

    @media (max-width: 639.98px) {
        left: 60%;
        font-size: 22px;
    }

    @media (max-width: 767.98px) {
        width: 100%;
    }

    @media (min-width: 1399.98px) {
        left: 63.5%;
        top: 46.7%;
    }

    &>p {
        font-size: 24px;
        letter-spacing: 1.3px;
        line-height: 33px;
        text-decoration: underline;

        @media (max-width: 639.98px) {
            font-size: 18px;
        }
    }
}