.section--three {
    background-color: var(--backgroundSecOne);
    padding: 50px 0 25px;
}

.subscribe-title {
    font-size: 42px;
    letter-spacing: 2px;
    font-family: var(--fontExtra);
    text-align: center;
    margin-right: 11px;
    padding-bottom: 25px;

}

.subsribe-wrapper {
    display: flex;
    margin: 0 24px;
    @media (max-width: 439.98px) {
       flex-direction: column;
    }
    .subs {
        flex: 1 1 100%;
        background-color: var(--white);
        border-right: none;
        @media (max-width: 439.98px) {
            height: 47px;
            flex: auto;
            border-right: 2px solid rgb(151, 151, 151);
         }
    }

    ::placeholder {
        font-family: var(--fontTask3);
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
        @media (max-width: 439.98px) {
            text-align: center;
         }
    }

    .subs-btn {
        padding: 10px 38px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-family: var(--fontTask3);
        border: 3px solid var(--black);
    }
}

.line {
    width: 105%;
    height: 60px;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 39px;
    margin-left: -15px;
}

.links {
    display: flex;
    margin: 0px 50px;
    justify-content: space-evenly;

    >p {
        font-family: var(--fontTask3);
        font-size: 18px;
        letter-spacing: 1.3px;
        line-height: 32px;
        font-weight: 500;
    }
}