header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 2;

    @media (min-width: 991.98px) {
        display: none;
    }
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;

    .logotyp {
        display: none;

        @media (min-width: 991.98px) {
            display: block;
        }
    }

    .desktop-menu {
        display: none;

        @media (min-width: 991.98px) {
            display: block;
            padding: 0 5px;
        }

        .desk-list {
            display: flex;
            list-style: none;
            font-size: 16px;
            font-family: var(--fontTask3);
            letter-spacing: 6px;
            line-height: 26px;
            text-transform: uppercase;

            @media (min-width: 640.98px) {
                font-size: 12px;
                padding: 0;
                margin: 0;
            }

            @media (min-width: 767.98px) {
                font-size: 14px;
            }

            @media (min-width: 991.98px) {
                font-size: 16px;
            }

        }

        .desk-list>li {
            margin-left: 15px;
        }
    }

    .cart {

        &.mobile {
            position: relative;

            .cart-image {

                >img {
                    width: 120%;
                    max-width: 120%;

                    @media (max-width: 369.98px) {
                        width: 112%;
                    }
                }
            }

            .cartNumber {
                display: flex;
                align-items: end;
                justify-content: center;
                position: absolute;
                height: 25px;
                width: 25px;
                background-color: var(--black);
                color: var(--white);
                font-family: var(--fontTask3);
                border-radius: 50%;
                left: 20px;
                top: 20px;
            }

            @media (min-width: 991.98px) {
                display: none;
            }
        }

        &.desktop {
            @media (max-width: 991.98px) {
                display: none;
            }
        }
    }

    .mobile-menu {
        cursor: pointer;
        display: block;

        @media (min-width: 991.98px) {
            display: none;
        }

        &:hover .bar {
            box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
        }

        .bar {
            width: 36px;
            height: 1px;
            border: 2px solid var(--black);
            background: var(--black);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
            transition: 0.4s ease;

            &:not(:first-child) {
                margin-top: 6px;
            }
        }
    }

    .logo {
        @media (min-width: 991.98px) {
            display: none;
        }
    }
}

.desktop-menu-wrapper {
    display: none;
    position: absolute;
    margin-top: 3.1%;
    width: 100%;
    justify-content: space-between;
    font-family: var(--fontTask3);
    font-size: 16px;
    letter-spacing: 6px;
    line-height: 26px;
    z-index: 12;

    @media (min-width: 991.98px) {
        display: flex;
    }

    .desktop-menu {

        .desk-list {
            display: flex;
            list-style: none;

            li {
                margin-right: 7.7%;
            }
        }
    }

    .cart {
        margin-right: -0.5%;
    }

}