button {
    background-color: #2d9079;
    color: var(--white);
    border-radius: 10px;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
}

.read-more {
    margin-top: 8px;
    padding: 12px 49.5px 13px;
    font-family: var(--fontOpen4);
    letter-spacing: 2px;
    margin-bottom: 9px;

    &.second {
        margin: 33px auto 0;
        padding: 11px 45px;
        display: block;
    }
}

.more {
    display: block;
    margin: auto;
    margin-top: 27px;
    padding: 6px 45px 8px;
    font-family: var(--fontOpen4);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.follow {
    padding: 10px 24px;
    margin-left: 12.5px;
    border-radius: 5px;
    letter-spacing: 0.9px;
    font-weight: bold;
}

.follow {

    svg {
        fill: var(--white);
        padding-right: 3px;
    }
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.download {
    padding: 23px 11px;
    margin: 4px 22px 27px;
    color: var(--white);
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--fontOpen4);
    font-weight: bold;
    letter-spacing: 1px;
}

.sub {
    border: none;
    padding: 10px;
    margin: 10px auto 73px;
    width: 100%;
    display: block;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 0.8px;
}

@media only screen and (min-width: 768px) {
    .follow {
        padding: 11px 20px;
        margin-left: 42px;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: row;
    }

    .download {
        padding: 22px 33px;
        margin: 0px 15px;
    }
}

@media only screen and (min-width: 1200px) {

    .read-more,
    .read-more.second {
        padding: 12px 55px 13px;
        font-size: 16px;
    }

    .follow {
        padding: 10px 50px;
    }
}