@import './sections/section1.scss';
@import './commons/footer.scss';
@import './commons/header.scss';

@font-face {
    font-family:"Maison Bold";
    src: url("/fonts/Maison Neue Bold.woff2");
}
@font-face {
    font-family:"Maison Medium";
    src: url("/fonts/MaisonNeue-Medium.otf");
}
@font-face {
    font-family:"Miller";
    src: url("/fonts/Miller Display Italic.otf");
}

:root {
    //colors
    --backgroundSecOne: rgb(244, 245, 244);
    //fonts
    --fontTask3: 'Maison Medium', sans-serif; 
    --fontBold: 'Maison Bold', sans-serif;
    --fontExtra: 'Miller', sans-serif;
    //picture
}