//  header
.header {
 position: fixed;
 z-index: 1;
 width: 100%;
}
.header--menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo {
    margin-left: 166px;
    padding-top: 50px;
}
.menu--item, .tasks {
    padding-left: 38px;
    margin-top: 48px;
}
.menu {
    display: flex;
    padding-right: 165px;
}

// section 1 START SECTION
.section1 {
    // height: 100vh;
    min-height: 92.5vh;
    display: flex;
    background-image: url('./tasks/task2/img/sec1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec1--text {
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
    margin-left: -30px;
}
.title {
    font-family: var(--fontTask2Title);
    font-size: 60px;
    margin-left: -5px;
}
.btn--header {
    font: var(--font-weight-light);
    font-size: 20px;
    width: auto;
    padding: 14px 25px;
    background-color: var(--btnHeader);
    color: var(--white);
}
.btn--header:hover {
    background-color: rgb(255, 115, 0);
}
.motto {
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 10px;
    line-height: 27px;
}
.scroll {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform:translateX(-50%);
}

// section 2 ABOUT US
.section2 {
    background-color: var(--background-color-sec1); 
    padding-bottom: 60px;
    display: flex;
}
.cup--image {
    padding-top: 50px;
    margin-left: -48px;
}
.text-area {
 color: var(--white);
 position: relative;
 left: 53px;
 top: 205px;
}
.about--title {
    font-size: 90px;
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    position: relative;
    bottom: 58px;
    left: 17px;
}
.about--text {
    font-size: 17px;
    line-height: 27px;
    position: relative;
    bottom: 66px;
    left: 18px;
    padding-right: 33px;
}
.about--text2 {
    margin-top: -6px;
}

// section 3 OUR SERVICES
.section3 {
    background-color: var(--background-color-sec2);
}
.icons--list {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    padding-top: 28px;
}
.icon--holder{
    display: flex;
    background-color: var(--white);
    margin: 10px 0px;
    max-width: 400px;
}
.title--icon{
    font-size: 20px;
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    line-height: 1.3;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
}
.icon--general {
    border-left: 1px solid black;
    width: 100px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    &.-cart{
        background-image: var(--cart);
    }
    &.-plant {
        background-image: var(--plant);
    }
    &.-planet {
        background-image: var(--planet);
    }
    &.-carrot {
        background-image: var(--carrot);
    }
}
.tomato--image {
    position: relative;
    left: 108px;
    top: 100px;
    padding-bottom: 266px;
}
.title--services  {
    color: var(--white);
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    font-size: 90px;
    position: absolute;
    top: 298px;
    right: -18px;
}
// section 4 GALLERY
.section4 {
    background-color: var(--background-color-sec3);
}
.gallery--text--container {
    display: flex;
    flex-direction: column;
}
.title--gallery {
    text-align: center;
    font-size: 90px;
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    padding-top: 67px;
}
.text--gallery {
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
    padding-left: 242px;
    padding-right: 242px;
    line-height: 1.6;
}
.gal1 {
    padding-top: 26px;
    margin-left: -30px;
}
.gal2, .gal3 {
    padding: 27px 0px 4px 10px;
}
.gal4 {
    padding-top: 25px;
    margin-left: -30px;
}
.gal5 {
    padding-top: 25px;
    padding-bottom: 49px;
}
.gallery--btn--div{
    text-align: center;
}
.btn--gallery {
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-light);
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 18%;
    margin-bottom: 120px;
}

// section  5 SUBSCRIBE
.section5 {
    background-image: url('./tasks/task2/img/berry.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px; 
}
.wrapper--subs {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 30px;
    top: 129px;
}
.title--subs{
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    margin-left: -2px;
}
.text--subs {
    font-size: 17px;
    margin-top: 12px;
    word-spacing: 0px;
    width: 546px;
    padding-bottom: 10px;
    margin-left: -2px;
}
.subs--form {
    display: flex;
    align-items: baseline;

}
.subs--input {
    margin-top: 19px;
    width: 570px;
    padding: 13px;
}
.btn--subs{
    width: 170px;
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-light);
    font-size: 20px;
    padding: 10px 14px 15px 10px;
    margin-left: 32px;
}
::placeholder {
    font-size: 15px;
    color:var(--inputTask2Subs);
}

// section 6 BLOG
.section6 {
    background-color: var(--background-color-sec6);
    height: 865px;
} 
.blog--text--title{
    color: var(--white);
    font-size: 90px;
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    padding-top: 80px;
}
.blog--text {
    color: var(--white);
    font-size: 17px;
    padding-top: 14px;
    padding-left: 262px;
    padding-right: 262px;
    padding-bottom: 27px;
}
.post--container {
    display: flex;
}
.container {
    &.-blog {
        max-width: 1200px;
    }
}
.post {
    height:350px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    &.-one {
        background-image: url('./tasks/task2/img/kiwi.jpg');
    }
    &.-two{
        background-image: url('./tasks/task2/img/bean.jpg');
    }
    &.-three {
        background-image: url('./tasks/task2/img/rasp.jpg');
    }
}
.post--date {
    border-radius: 5px;
    background-color: #262626;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    top: 10px;
    
    >.day {
        font-family: var(--fontTask2);
        font-weight: var(--font-weight-bold);
        font-size: 32px;
        margin-top: -11px;
    }
    >.month {
        font-family: var(--fontTask2Title);
        font-size: 21px;
        margin-top: -11px;
    }
}
.post--title {
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 25px;
    position: relative;
    top: 123px;
}
.post--autor  {
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-light);
    font-size: 13px;
    position: relative;
    top: 139px;
}
.btn--blog--div{
    text-align: center;
}
.btn--blog {
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-light);
    background-color: var(--btnBlogTask2);
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 18%;
    margin-top: 10px;
}
// section 7 CONTACT
.section7 {
    background-image: url('./tasks/task2/img/sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 866px; 
}
.contact--text--container {
    text-align: center;
    position: relative;
    top: 64px;
}
.contact--title {
    font-family: var(--fontTask2);
    font-weight: var(--font-weight-bold);
    font-size: 90px;
}
.contact--text {
    font-size: 17px;
    position: relative;
    top: 7px;
    width: 357px;
    left: 378px;
}
.contact--form{
    display: flex;
    flex-direction: column;
    position: relative; 
    top: 112px;
    right: 30px;
}
.bolder {
    font-weight: var(--font-weight-bold);
}
.feedback-input {
    padding: 14px 17px 12px 20px;
    margin-bottom: 16px;
    width: 500px;
    color: var(--white);
    background-color: var(--contactFormTask2);
    border: none;
}
::placeholder {
    color: var(--white);
}
textarea {
    min-height: 250px;
    opacity: 0.5;
}
.adres{
    font-size: 17px;
    position: relative;
    top: 108px;
    left: 71px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.street {
    padding-bottom: 8px;
}
.mail {
    padding-bottom: 9px;
}
// FOOTER
.footer {
    background-color: var(--footTask2);
}
.color--word--in--footer{
    color: var(--btnNoHoverColor);
}
.foot--container {
    display: flex;
    justify-content: space-around;
    color: var(--white);
    height: 100px;
    // align-items: center;
    position: relative;
    top: 30px;

}
.copyrights{ 
    font-size: 16px;
    line-height: 25px;
}
.creator--sing{
    font-size: 15px;
    line-height: 25px;
}
.mini--logo {
    position: relative;
    right: 32px;
}