@import './forms/header.scss';
@import './forms/section1.scss';
@import './forms/section2.scss';
@import './forms/section3.scss';
@import './forms/section4.scss';
@import './forms/section5.scss';
@import './forms/section6.scss';
@import './forms/section7.scss';
@import './forms/footer.scss';

@font-face {
    font-family:"Raleway Heavy";
    src: url("/fonts/Raleway-Heavy.ttf");
}

:root {
    // colors
    --background-color-sec1: rgb(0, 195, 195);
    --background-color-sec2: rgb(112, 190, 255);
    --background-color-sec3: rgb(255, 233, 47);
    --background-color-sec6: rgb(176, 123, 247);
    --inputTask2Subs : rgb(38, 38, 38);
    --footTask2 : rgb(38, 38, 38);
    --contactFormTask2: rgb(0, 196, 196);
    --contactFormActive: rgb(53, 91, 129);
    --btnBlogTask2: rgb(247, 42, 59);
    --btnGalleryTask2: rgb(85, 133, 162);
    // font
    --fontTask2: 'Raleway', sans-serif;
    --fontTask2Title : "Raleway Heavy", sans-serif;
    // pictures
    --cart: url("./tasks/task2/img/cart.png");
    --plant: url("./tasks/task2/img/plant.png");
    --planet: url("./tasks/task2/img/planet.png");
    --carrot: url("./tasks/task2/img/carrot.png");
}