<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <base href="/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <title>Task 2</title>
</head>
<body>
    
<div class="container-fluid p-0">
    <div class="col-12 p-0">
        <div class="header">
            <div class="header--menu">
                <div class="logo">
                    <img src="<%= require('./task2/img/logo.png').default %>" alt="logo">
                </div>
                <div class="menu">
                    <div class="tasks">
                        <a href="../index.html">Powrót</a>
                    </div>
                    <div class="menu--home menu--item">HOME</div>
                    <div class="menu--about menu--item">ABOUT</div>
                    <div class="menu--services menu--item">SERVICES</div>
                    <div class="menu--gallery menu--item">GALLERY</div>
                    <div class="menu--blog menu--item">BLOG</div>
                    <div class="menu--contact menu--item">CONTACT</div>
                </div>
            </div>
            <div class="header--text">
                <div class="slogan">
                <div class="title">Fresh Life</div>
                <p class="motto">Sed do eiusmod tempor incididunt ut labore et</br> dolore magna aliqua. Ut enim ad minim veniam,</br> quis nostrud exercitation ullamco.</p>
                <button class="btn--header" type="submit">GET FREE NOW</button>
                </div>
            </div>
            <div class="scroll">
                <img src="<%= require('./task2/img/scrol.png').default %>" alt="scroll">
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0">
        <div class="section1"> <!-- section 1 -->
            <div class="row">
                <div class="col-6">
                    <div class="cup--image">
                        <img src="<%= require('./task2/img/cup.png').default %>" alt="cup of rasberry">
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="text-area">
                        <div class="about--title"> About Us</div>
                        <div class="about--text"><p>Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p> <p class="about--text2">
                        Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0">
        <div class="section2">
            <div class="row">
                <div class="col-6 ">
                    <div class="icons--list">
                        <div class="icon--holder">
                            <div class="title--icon -first">
                                Online Shopping
                            </div>
                            <div class="icon--general -cart"></div>
                        </div>
                        <div class="icon--holder">
                            <div class="title--icon -second">Quality Product</div>
                            <div class="icon--general -plant"></div>
                        </div>
                        <div class="icon--holder">
                            <div class="title--icon -third">Domestic & International</br> Delivery</div>
                            <div class="icon--general -planet"></div>
                        </div>
                        <div class="icon--holder">
                            <div class="title--icon -fourth">Well Organized</div>
                            <div class="icon--general -carrot"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="tomato--image">
                        <img src="<%= require('./task2/img/tomato.png').default %>" alt="cup of rasberry">
                    </div>
                    <div class="title--services">Our Services</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0">
        <div class="section3">
            <div class="text--gallery">
                <div class="title--gallery">Gallery</div>
                <div class="text--gallery">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0">
        <div class="section4">4</div>
    </div>
    <div class="col-md-12 p-0">
        <div class="section5">5</div>
    </div>
    <div class="col-md-12 p-0">
        <div class="section6">6</div>
    </div>
    <div class="col-md-12 p-0">
        <div class="footer">
            <div class="copyrights">&copy 2015 Company. All right reserved</div>
            <div class="mini--logo"><img src="miniLogo" alt="mini logo"></div>
            <div class="creator--sing">Made with <span class="color--word--in--footer">love</span> by Auskteez</div>
    </div></div>
</div>
</body>
</html>
