<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <base href="/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <title>Task 2</title>
</head>
<body>
<header class="header">
    <div class="header--menu">
        <div class="logo">
            <img src="<%= require('./task2/img/logo.png').default %>" alt="logo">
        </div>
        <div class="menu">
            <div class="tasks">
                <a href="../index.html">Powrót</a>
            </div>
            <div class="menu--home menu--item">HOME</div>
            <div class="menu--about menu--item">ABOUT</div>
            <div class="menu--services menu--item">SERVICES</div>
            <div class="menu--gallery menu--item">GALLERY</div>
            <div class="menu--blog menu--item">BLOG</div>
            <div class="menu--contact menu--item">CONTACT</div>
        </div>
    </div>
</header>
<main>  
    <div class="section1"> <!-- section 1 start --> 
        <div class="container">
            <div class="row h-100">
                <div class="col-12 d-flex align-items-center">
                    <div class="sec1--text">
                        <div class="slogan">
                            <div class="title">Fresh Life</div>
                            <p class="motto">Sed do eiusmod tempor incididunt ut labore et</br> dolore magna aliqua. Ut enim ad minim veniam,</br> quis nostrud exercitation ullamco.</p>
                            <button class="btn--header" type="submit">GET FREE NOW</button>
                        </div>
                    </div>
                    <div class="scroll">
                        <img src="<%= require('./task2/img/scrol.png').default %>" alt="scroll">
                    </div>
                </div>
            </div>
        </div>
            <img src="<%= require('./task2/img/sec1.jpg').default %>" alt="main background"
            class="main--background">
    </div>
    <div class="section2"> <!-- section 2 about us -->
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-6">
                    <div class="cup--image">
                        <img src="<%= require('./task2/img/cup.png').default %>" alt="cup of rasberry">
                        </div>
                </div>
                <div class="col-6 ">
                    <div class="text-area">
                        <div class="about--title"> About Us</div>
                        <div class="about--text">
                            <p class="about--text--paragraf">Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                            </p>
                            <p class="about--text2">
                            Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3"> <!-- section 3 our services -->
        <div class="container">
            <div class="row ">
                <div class="col-6 d-flex justify-content-end">
                    <div class="icons--list">
                        <div class="icon--holder">
                            <div class="title--icon">
                                    Online Shopping
                            </div>
                            <div class="icon--general -cart"></div>
                        </div>
                        <div class="icon--holder">
                            <div class="title--icon">Quality Product</div>
                            <div class="icon--general -plant"></div>
                        </div>
                        <div class="icon--holder">
                            <div class="title--icon">Domestic & International Delivery</div>
                            <div class="icon--general -planet"></div>
                            </div>
                            <div class="icon--holder">
                                <div class="title--icon">Well Organized</div>
                                <div class="icon--general -carrot"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex">
                        <div class="wrapper--services">
                            <img src="<%= require('./task2/img/tomato.png').default %>" alt="cup of rasberry" class="tomato--image">
                        <div class="title--services">Our Services</div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="section4"> <!-- section 4 gallery -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="gallery--text--container">
                                <div class="title--gallery">
                                    Gallery
                                </div>
                                <p class="text--gallery">
                                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <img class="gal1" alt="friut on plate" src="<%= require('./task2/img/gal1.jpg').default %>" />
                        </div>
                        <div class="col-4">
                            <img class="gal2" alt="berries" src="<%= require('./task2/img/gal2.jpg').default %>" />
                            
                            <img class="gal3" alt="blackberries" src="<%= require('./task2/img/gal3.jpg').default %>" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img class="gal4" alt="blueberries and a glass" src="<%= require('./task2/img/gal4.jpg').default %>" />
                        </div>
                        <div class="col-6">
                            <img class="gal5" alt="kaki" src="<%= require('./task2/img/gal5.jpg').default %>" />
                        </div>
                    </div>
                    <div class="gallery--btn--div">
                        <button type="button" class="btn--gallery">
                                VIEW MORE
                        </button>
                    </div>
            </div>
        </div>
    </div>
    
    </div>
    <div class="section5"> <!-- section 5 subscribe -->
        <div class="container">
            <div class="row">
                <div class="col-8  d-flex align-items-center">
                    <div class="wrapper--subs">
                        <div class="title--subs">
                            Subscribe To Us
                        </div>
                        <div class="text--subs">
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                        <div class="subs--form">
                        <input class="subs--input" type="text" placeholder="Your email address">
                        <button class="btn--subs">
                            SUBSCRIBE
                        </button>
                        </div>
                    </div>
                </div>
                    <div class="col-4 d-flex align-items-center">
                        <img src="<%= require('./task2/img/backberry.png').default %>" alt="jagódki" class="background--subs">
                    </div>
                
            </div>
        </div>
    </div>
    <div class="section6"><!-- section 6 blog -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="blog--text--title text-center">
                        Blog
                    </h3>
                    <p class="blog--text text-center">
                        Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                    </p>
                </div>
                <div class="col-4">
                                <div class="post -one">
                                    <a href="#">
                                        <img src="<%= require('./task2/img/kiwi.png').default %>" alt="kiwi">
                                        <div class="post--date">
                                            <div class="day">20</div>
                                            <div class="month">NOV</div>
                                        </div>
                                        <div class="post--title">Green Smoothies: Too Much of a Good Thing?
                                        </div>
                                        <div class="post--autor">By Auskteez - 2 hours ago
                                        </div>
                                    </a>
                                </div>
                </div>
                <div class="col-4">
                                <div class="post -two">
                                    <a href="#">
                                        <img src="<%= require('./task2/img/bean.png').default %>" alt="bean">
                                        <div class="post--date">
                                            <div class="day">14</div>
                                            <div class="month">NOV</div>
                                        </div>
                                        <div class="post--title">Growing Food and a “Thirst” for Innovation</div>
                                        <div class="post--autor">By Auskteez - 3 hours ago</div>
                                    </a>
                            </div>
                </div>
                <div class="col-4">
                                <div class="post -three">
                                    <a href="#">
                                        <img src="<%= require('./task2/img/rasp.png').default %>" alt="raspberry">
                                        <div class="post--date">
                                            <div class="day">10</div>
                                            <div class="month">NOV</div>
                                        </div>
                                        <div class="post--title">Pesticides & Food: What You Need to Know</div>
                                        <div class="post--autor">By Auskteez - 6 hours ago</div>
                                    </a>
                                </div>
                </div>
                <div class="col-12">
                    <div class="btn--blog--div">
                        <button type="button" class="btn--blog">
                            VIEW MORE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section7"><!-- section 7 contact -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact--text--container">
                        <div class="contact--title">
                            Contact
                        </div>
                        <div class="contact--text">
                            For new projects, ideas, business or anything
                            you'd like to discuss, contact with me!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <form class="contact--form">      
                            <input name="name" type="text" class="feedback-input" placeholder="Auskteez Tran" />  
                            <input name="email" type="text" class="feedback-input" placeholder="Your email..." />
                            <input name="phone" type="tel" class="feedback-input" placeholder="Your phone number..." />
                            <textarea name="text" class="feedback-input" placeholder="Your message..."></textarea>
                          </form> 
                    </div>
                </div>
                <div class="col-6">
                    <div class="adres">
                        <div class="street">
                            <div class="bolder">ADDRESS</div>
                            <span class="font">123 City name, Street, City, Country</span>
                        </div>
                            <div class="mail">
                                <div class="bolder">EMAIL</div>
                                <span class="font">cahee@domain.com</span>
                        </div>
                            <div class="phone">
                                <div class="bolder">PHONE</div>
                                <span class="font">+012 345 6789</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer> <!-- footer -->
    <div class="footer">
        <div class="col-md-12 p-0">
            <div class="foot--container">
                <div class="copyrights">&copy 2015 Company. All right reserved</div>
                <div class="mini--logo"><img src="<%= require('./task2/img/miniLogo.png').default %>"" alt="mini logo"></div>
                <div class="creator--sing">Made with <span class="color--word--in--footer">love</span> byAuskteez</div>
            </div>
        </div>
    </div>
</div>
</footer>
</body>
</html>