.section3 {
    background-color: #c6e6df;
    padding: 30px 0 35px;

    .heading {
        text-align: center;
        font-size: 22px;
        padding: 26px 0 26px;
        color: #2d9079;
        letter-spacing: 3.8px;

    }

    .title {
        text-align: center;
        font-size: 34px;
        color: #2d9079;
        font-weight: bold;
        line-height: 1.14;
        letter-spacing: -0.8px;
        padding-bottom: 24px;
    }

    .card-wrapper {
        background-color: var(--white);
        padding: 7px 18px;
        margin: 28px 3px;
        border-radius: 20px;

        .images {
            display: block;
            margin: auto;
        }

        .card-title {
            text-align: center;
            padding-top: 6px;
            font-size: 24px;
            font-weight: 700;
            color: #2d9079;
            font-family: var(--fontSans4);
        }

        .card-text {
            text-align: center;
            font-size: 17px;
            margin-top: 15px;
            padding: 0px 0px;
            &.first {
                padding: 0px 10px;
            }
        }
        
    }
}