.section1 {
    background-color: #c6e6df;

    .section-wrapper {
        margin-top: 59px;

        .text-wrapper {
            background-color: var(--white);
            display: block;
            padding: 22px;

            .title {
                padding: 3.5px 0px 18px 0;
                letter-spacing: 3.7px;
                display: block;
                margin: auto;
                font-size: 18px;
                color: grey;
                font-family: var(--fontPT4);
            }

            .heading {
                font-size: 32px;
                display: block;
                margin: auto;
                padding-bottom: 24px;
                padding-left: 1px;
                font-family: var(--fontSans4);
                line-height: 1;
            }

            .list {
                padding: 0;
                font-size: 20px;
                font-family: var(--fontOpen4);
                line-height: 2;

                ul {
                    padding-left: 15px;

                    li {
                        list-style-type: none;
                        position: relative;
                        padding-left: 14px;
                    }

                    li:before {
                        content: "► ";
                        font-size: 15px;
                        position: absolute;
                        top: 6px;
                        left: -13px;
                        color: #e49652;
                    }
                }
            }
        }

        .image-wrapper {
            background-color: #f0f8f6;
            overflow: hidden;

            .image {
                width: 100%;
                display: block;
                margin: auto;
                margin-bottom: -21px;

                .phone {
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .info-block {
        padding: 116px 0 63px;

        .title {
            color: #2d9079;
            font-size: 36px;
            text-align: center;
            font-family: var(--fontSans4);
            padding-bottom: 25px;
        }

        .paragraf {
            text-align: center;
            font-size: 17px;
            padding: 0 11px 0 11px;
            line-height: 1.88;
            font-family: var(--fontOpen4);
            letter-spacing: -0.5px;
        }
    }
}


@media only screen and (min-width: 768px) {
    .section1 {

        .section-wrapper {
            display: flex;
            padding-bottom: 8px;

            .text-wrapper {
                padding: 53px 30px 0 29px;
                flex: 1 1 50%;

                .heading {
                    line-height: 1.04;
                    letter-spacing: 0.5px;
                    font-size: 33px;
                    padding-bottom: 23px;
                }
            }

            .image-wrapper {
                width: 100%;
                padding: 0px 0 0;
                flex: 1 1 50%;

                .image {
                    width: 100%;
                    display: block;
                    margin: auto;
                    padding-top: 44px;
                    margin-bottom: 14px;

                    .phone {
                        margin-top: 36px;
                        transform: scale(1.075);
                    }
                }
            }

        }

        .info-block {
            padding: 122px 0 81px;

            .title {
                font-size: 60px;
                padding-bottom: 21px;
            }

            .paragraf {
                padding: 0 55px 0 55px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .section1 {
        .section-wrapper {
            padding: 0px 43px;

            .text-wrapper {
                padding: 111px 25px 0 30px;

                .title {
                    font-size: 17px;
                    letter-spacing: 4.5px;
                    padding-bottom: 17px;
                }

                .heading {
                    font-size: 49px;
                    line-height: 1;
                    letter-spacing: -0.5px;
                }
            }

            .image-wrapper {
                padding: 0;

                .image {
                    width: 83%;
                    margin-bottom: 17px;

                    .phone {
                        margin-top: 25px;
                    }
                }
            }

        }

        .info-block {
            padding: 130px 0 81px;

            .paragraf {
                padding: 0 250px;
            }
        }
    }
}