.section2 {
    padding: 0 10px 29px 20px;

    .text-wrapper {
        margin: 59px 0px 57px 32px;

        .title {
            padding-bottom: 12px;
            color: #2d9079;
            font-family: var(--fontSans4);
            font-size: 30px;
            text-align: left;
            line-height: 1.107;
        }

        .paragraf {
            font-family: var(--fontOpen4);
            text-align: left;
            font-size: 18px;
            letter-spacing: 0.38px;
            line-height: 1.78;
        }
    }

    .section-wrapper {
        position: relative;
        padding-bottom: 72.5px;

        .icon {
            padding-left: 34px;
        }

        .text-group {
            margin-left: 34.5px;
            margin-top: 33.4px;

            .heading {
                font-size: 26px;
                margin-bottom: 26px;
                font-family: var(--fontSans4);
            }

            .text {
                padding-right: 25px;
                line-height: 1.793;
                letter-spacing: -0.25px;
                font-family: var(--fontOpen4);
            }
        }
    }

    .number {
        position: absolute;
        z-index: -1;
        color: #c6e6df;
        font-size: 151px;
        top: 16px;
        left: 0px;
        font-family: var(--fontLalezar4);
    }
}


@media only screen and (min-width: 768px) {
    .section2 .section-wrapper .text-group .heading {
        margin-bottom: 16px;
    }

    .section2 .section-wrapper .text-group {
        margin-left: 52px;
        margin-top: 41.4px;
    }

    .section2 .number {
        top: 24px;
        left: 14.5px;
    }

    .section2 .section-wrapper .icon {
        padding-left: 51px;
    }

    .section2 .text-wrapper {
        margin: 60px 51px 72px;
    }

    .section2 .text-wrapper .title {
        padding-bottom: 12px;
        font-size: 55px;
        padding-top: 7px;
        padding-right: 100px;
    }

    .section2 .text-wrapper .paragraf {
        letter-spacing: 0.35px;
        line-height: 1.8;
        padding-right: 0px;
    }

    .section2 {
        padding: 2px 10px 40px 20px;

        .numbers-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .section-wrapper {
            width: 50%;
            padding-bottom: 92.5px;

            .heading {
                letter-spacing: -0.85px;
                margin-bottom: 16px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .section2 {
        padding: 0 10px 23px 20px;

        .number-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .section-wrapper {
            width: 33.33%;
            padding-bottom: 100px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .section2 .text-wrapper .title {
        padding-right: 540px;
    }

    .section2 .text-wrapper .paragraf {
        padding-right: 435px;
    }

    .section2 .section-wrapper .number {
        left: -10.5px;
        top: 15px;
    }
}