.section3 {
    background-color: #c6e6df;
    padding: 30px 0 35px;

    .heading {
        text-align: center;
        font-size: 24px;
        padding: 26px 0 0px;
        color: #2d9079;
        letter-spacing: 2.9px;
        font-family: var(--fontSans4);
    }

    .title {
        text-align: center;
        font-size: 36px;
        color: #2d9079;
        font-weight: bold;
        line-height: 1.1;
        font-family: var(--fontSans4);
        padding: 24px 1px 21px;
        letter-spacing: -0.55px;
    }

    .card-wrapper {
        background-color: var(--white);
        padding: 10px 10px 18px 10px;
        margin: 28px 3px;
        border-radius: 20px;

        .card-image {
            display: block;
            margin: auto;

            &.one {
                padding: 10px 21px 0 22px;
            }

            &.two {
                padding: 0px 9px 0px 10px;
            }

            &.three {
                padding: 12px 21px 0 23px
            }
        }

        .card-title {
            text-align: center;
            padding-top: 21px;
            font-size: 24px;
            font-weight: 700;
            color: #2d9079;
            font-family: var(--fontSans4);

            &.two {
                padding-top: 9px
            }
        }

        .card-text {
            text-align: center;
            font-size: 17px;
            margin-top: 15px;
            font-family: var(--fontOpen4);
            letter-spacing: -0.45px;

            &.first {
                padding: 0px 10px;
            }

            &.second {
                padding: 0 11px;
                word-spacing: -3px;
                letter-spacing: -0.12px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .section3 .title {
        font-size: 48px;
        padding: 24px 1px 21px;
    }

    .section3 {
        padding: 30px 0 57px;
        .tablet-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .card-wrapper {
            width: 47%;
            padding: 10px 10px 18px 10px;
            margin: 25px 0px 0 20px;
        }
    }
}