.section5 {
    background-color: #fbf3eb;
    padding: 64px 0 320px;
    position: relative;

    .block-wrapper {
        margin: 12px 13px;

        .title {
            padding: 8px 0 21px;
            font-size: 36px;
            font-family: var(--fontSans4);
        }

        .text {
            color: gray;
            font-size: 18px;
            letter-spacing: -0.3px;
            line-height: 2.2;
            font-family: var(--fontOpen4);
        }
    }

    .photo-wrapper {
        border-radius: 50%;
        border: 10px solid #a0d5c8;
        width: 223px;
        height: 223px;
        display: block;
        margin: 17.5% 4% 7%;
        overflow: hidden;
        background-color: lightgray;
    }

    .man {
        max-width: 150%;
        position: relative;
        left: -25%;
    }

    .photo {
        display: block;
        margin: auto;
    }

    .quote-icon {
        position: relative;

        svg {
            fill: #2d9079;
            position: absolute;
            left: 164px;
            bottom: 187px;
        }
    }

    .slogan {
        color: #2e919c;
        font-size: 30px;
        padding-bottom: 20px;
        padding-left: 14px;
        line-height: 1.2;
        padding-right: 12px;
        font-family: var(--fontPT4);
    }
}

.follow {

    svg {
        fill: var(--white);
        padding-right: 3px;
    }
}

.download-wrapper {
    position: absolute;
    bottom: -594px;
    left: 0;
    background-color: var(--white);
    border-radius: 15px;
    margin: 20px;

    .download-container {
        padding: 27px 25px;
        display: flex;
        flex-direction: column;

        .title {
            position: relative;
            display: block;
            font-size: 30px;
            padding-left: 8px;
            margin-top: 11px;
            margin-bottom: 16px;
            letter-spacing: -0.2px;
            font-family: var(--fontSans4);
            font-weight: bold;
        }

        .download {
            svg {
                fill: var(--white);
            }
        }

        .download+.download {
            margin-bottom: 0px;
        }

        .text {
            margin: 5px 14px 14px 14px;
            line-height: 1.5;
            letter-spacing: -0.5px;
            text-align: center;
            font-size: 19px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .section5 {
        .tablet-wrapper {
            display: flex;
        }

        .block-wrapper {
            width: 50%;
            padding-bottom: 100px;
        }

        .column-wrapper {
            width: 50%;
            padding-bottom: 100px;
        }

        .download-wrapper {
            .tabler-wrapper {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                align-content: center;
            }
        }
    }
}