.section3 {
    background-color: #c6e6df;
    padding: 30px 0 61px;

    .title {
        text-align: center;
        font-size: 24px;
        padding: 26px 0 0px;
        color: #2d9079;
        letter-spacing: 2.9px;
        font-family: var(--fontSans4);
    }

    .heading {
        text-align: center;
        font-size: 36px;
        color: #2d9079;
        font-weight: bold;
        line-height: 1.1;
        font-family: var(--fontSans4);
        padding: 24px 1px 21px;
        letter-spacing: -0.55px;
    }

    .card {
        background-color: var(--white);
        padding: 10px 10px 18px 10px;
        margin: 28px 3px 0;
        border-radius: 20px;
        overflow: hidden;

        .card-image {
            display: block;
            margin: auto;
            overflow: hidden;

            &.one {
                padding: 10px 21px 0 22px;
            }

            &.two {
                padding: 8px 8px 0;
                margin-top: -10px;
                margin-bottom: -14px;
            }

            &.three {
                padding: 12px 21px 0 23px
            }
        }

        .card-title {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            color: #2d9079;
            font-family: var(--fontSans4);
            margin-bottom: 0;
            padding-top: 22px
        }

        .card-text {
            text-align: center;
            font-size: 17px;
            margin-top: 15px;
            font-family: var(--fontOpen4);
            letter-spacing: -0.45px;

            &.first {
                padding: 0px 10px;
            }

            &.second {
                padding: 0 11px;
                word-spacing: -3px;
                letter-spacing: -0.12px;
            }
        }
    }
}



@media only screen and (min-width: 768px) {
    .section3 {
        padding: 32px 0 60px;

        .heading {
            font-size: 48px;
            padding: 24px 1px 23px;
        }

        .card-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .card:first-child {
                margin-left: 0;
            }

            .card:last-child {
                margin-left: 0;
            }

            .card {
                padding: 5px 10px 18px 10px;
                margin: 25px 0px 0 28px;

                .card-image {

                    &.one {
                        padding: 14px 32px 0 34px;
                    }

                    &.two {
                        margin-top: -21px;
                        margin-bottom: -9px;
                    }

                    &.three {
                        padding: 16px 34px 0;
                    }
                }

                .card-title {
                    margin-bottom: 0;

                    &.one {
                        padding-top: 19px;
                        font-size: 25px;
                        letter-spacing: -0.7px;
                    }

                    &.two {
                        margin-top: 6px;
                        padding: 0;
                    }

                    &.three {
                        padding-top: 21px;
                    }
                }

                .card-text.first {
                    padding: 0px 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .section3 {
        padding: 30px 0 60px;

        .card .card-image.two {
            max-height: 420px;
            width: auto;
        }

        .card-wrapper {
            padding: 10px 60px;
        }

        .card:last-child {
            margin: 25px 0px 0 20px;
        }

        .card {
            padding: 10px 10px 18px 10px;
            margin: 25px 0px 0 20px;
        }
    }
}