.section6 {
    background-color: #c6e6df;
    padding-top: 414px;

    .title {
        color: #2d9079;
        font-size: 37px;
        font-weight: bold;
        padding-bottom: 12px;
        margin-left: 12px;
        font-family: var(--fontSans4);
        letter-spacing: -0.7px;
    }

    .text {
        font-weight: bold;
        margin-left: 13px;
        font-size: 19px;
        font-family: var(--fontOpen4);
        font-style: italic;
        letter-spacing: 0.2px;
        line-height: 1.72;
        padding-right: 30px;
    }

    .more-text {
        padding: 20px 0px;
        margin-left: 12px;
        font-size: 18px;
        line-height: 1.75;
        letter-spacing: -0.4px;
    }

    .socials {
        display: flex;
        padding-bottom: 38px;
        margin-left: 13.4px;
        margin-top: 11px;

        .social {
            padding-right: 9.1px;
            fill: #2d9079;
        }
    }

    .contact {
        margin-left: 12px;

        .contact-wrapper {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            >span {
                font-size: 17px;
                letter-spacing: -0.19px;
            }
        }

        ul {
            padding-left: 0px;
            list-style: none;
            padding-bottom: 30px;
        }

        ul li:before {
            content: '✓';
            padding-right: 10px;
        }


    }

    .heading {
        font-weight: bold;
        color: #2d9079;
        padding: 0px 0px 15px;
        font-family: var(--fontSans4);
        font-size: 20px;
        margin-left: 2px;
    }

    input,
    textarea {
        border: none;
        padding: 10px;
        margin: 10px auto;
        width: 100%;
        display: block;
        border-radius: 10px;
    }

    ::placeholder {
        color: #7a7a7a;
    }

    form {
        padding: 12px 8px;
    }
}

@media only screen and (min-width: 768px) {
    .section6 {
        .tablet-wrapper {
            display: flex;
        }

        .column {
            width: 33%;
        }
    }
}