.section1 {
    background-color: #c6e6df;

    .section-wrapper {
        margin-top: 59px;
    }

    .text-wrapper {
        background-color: var(--white);
        display: block;
        padding: 22px;

        .title {
            padding: 3.5px 0px 18px 0;
            letter-spacing: 3.7px;
            display: block;
            margin: auto;
            font-size: 18px;
            color: grey;
            font-family: var(--fontPT4);
        }

        .heading {
            font-size: 32px;
            display: block;
            margin: auto;
            padding-bottom: 24px;
            padding-left: 1px;
            font-family: var(--fontSans4);
            line-height: 1;
            letter-spacing: 0.1px;
        }

        .list {
            padding: 0;
            font-size: 20px;
            font-family: var(--fontOpen4);
            line-height: 2;

            ul {
                padding-left: 15px;

                li {
                    list-style-type: none;
                    position: relative;
                    padding-left: 14px;
                }

                li:before {
                    content: "► ";
                    font-size: 15px;
                    position: absolute;
                    top: 6px;
                    left: -13px;
                    color: #e49652;
                }
            }
        }
    }

    .image-wrapper {
        background-color: #f0f8f6;
        overflow: hidden;

        .image {
            width: 100%;
            display: block;
            margin: auto;

            .phone {
                display: block;
                margin: auto;
            }
        }
    }

    .info-block {
        padding: 93px 0 63px;

        .title {
            color: #2d9079;
            font-size: 36px;
            text-align: center;
            font-family: var(--fontSans4);
            padding-bottom: 25px;
        }

        .paragraf {
            text-align: center;
            font-size: 17px;
            padding: 0 11px 0 11px;
            line-height: 1.88;
            font-family: var(--fontOpen4);
            letter-spacing: -0.5px;
        }
    }
}


@media only screen and (min-width: 768px) {
    .section1 {
        .text-wrapper {
            padding: 53px 30px 0 29px;
            flex: 1 1 50%;

            .heading {
                line-height: 1.04;
                letter-spacing: 0.5px;
                font-size: 33px;
                padding-bottom: 23px;
            }
        }

        .section-wrapper {
            display: flex;
            padding-bottom: 8px;

            .image-wrapper {
                width: 100%;
                padding: 0px 0 0;
                flex: 1 1 50%;

                .image {
                    width: 100%;
                    display: block;
                    margin: auto;
                    padding-top: 44px;
                    margin-bottom: 14px;

                    .phone {
                        margin-top: 36px;
                        transform: scale(1.075);
                    }
                }
            }

        }

        .info-block {
            padding: 122px 0 82px;

            .title {
                font-size: 60px;
                padding-bottom: 21px;
            }

            .paragraf {
                padding: 0 55px 0 55px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .section1 {
        .section-wrapper {
            .image-wrapper {
                padding: 0;
            }
        }
    }

    .section1 .text-wrapper {
        .title {
            font-size: 20px;
        }

        .heading {
            font-size: 50px;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .section1 .text-wrapper .title {
        padding: 74.5px 0px 18px 0;
    }

    .section1 .text-wrapper .list {
        font-size: 23px;
    }

    .section1 .image-wrapper .image .phone {
        margin-top: 0px;
    }

    .section1 .info-block .paragraf {
        padding: 0 250px 0;
    }
}