.section6 {
    background-color: #c6e6df;
    padding-top: 406px;

    .column {
        .title {
            color: #2d9079;
            font-size: 37px;
            font-weight: bold;
            padding-bottom: 13px;
            margin-left: 12px;
            font-family: var(--fontSans4);
            letter-spacing: -0.7px;
        }

        .slogan {
            font-weight: bold;
            margin-left: 13px;
            font-size: 19px;
            font-family: var(--fontOpen4);
            font-style: italic;
            letter-spacing: 0.2px;
            line-height: 1.72;
            padding-right: 30px;
        }

        .text {
            padding: 20px 0px;
            margin-left: 12px;
            font-size: 18px;
            line-height: 1.75;
            letter-spacing: -0.4px;
        }

        .socials {
            display: flex;
            padding-bottom: 38px;
            margin-left: 13px;
            margin-top: 11px;

            .social {
                padding-right: 9.1px;
                fill: #2d9079;
            }
        }

        .contact {
            margin-left: 13px;

            .contact-wrapper {
                display: flex;
                flex-direction: column;
                padding-top: 19px;

                >span {
                    font-size: 17px;
                    letter-spacing: -0.19px;
                }

                .heading {
                    font-weight: bold;
                    color: #2d9079;
                    padding: 0px 0px 15px;
                    font-family: var(--fontSans4);
                    font-size: 20px;
                }

                ul {
                    padding-left: 0px;
                    list-style: none;
                    padding-bottom: 30px;
                    line-height: 1.6;
                }

                ul li:before {
                    content: '✓';
                    padding-right: 10px;
                }
            }
        }
    }

    form {
        padding: 5px 4px;

        input,
        textarea {
            border: none;
            padding: 11px 12px 13px;
            margin: 10px 0;
            width: 97%;
            display: block;
            border-radius: 10px;
        }

        textarea {
            padding: 12px 12px 17px;
            margin: 13px 0 0px;
        }
    }

}

::placeholder {
    color: #7a7a7a;
}

@media only screen and (min-width: 768px) {

    .section6 {
        padding-top: 384px;
        padding-bottom: 50px;



        .heading {
            margin-left: 2px;
        }

        .section-wrapper {
            display: flex;
        }

        .column {
            .socials {
                display: flex;
                padding-bottom: 39px;
                margin-left: 10px;
                margin-top: 9px;
            }

            .contact {
                margin-left: 17px;
                padding-top: 3px;
                padding-right: 13px;

                ul {
                    line-height: 25.85px;
                }

                .contact-wrapper>span:last-child {
                    padding-bottom: 19px;
                }
            }

            &.one {
                flex: 2 1 37%;

                .title,
                .slogan,
                .text {
                    margin-left: 9px;
                    padding-right: 0;
                }

                .title {
                    padding-bottom: 13px;
                }

                .text {
                    font-size: 17px;
                    line-height: 1.88;
                    padding: 18px 0px 23px;
                }
            }

            &.two {
                flex: 2 1 35%;

                .contact .contact-wrapper {
                    padding-top: 0;
                }
            }

            &.three {
                flex: 2 1 43%;
            }

            width: 100%;
        }

        .slogan {
            letter-spacing: 0.2px;
        }

        form {
            padding: 0;

            input {
                margin: 6px 4px 12px;
                padding: 12px 15px;
                width: 94.7%;
            }

            textarea {
                padding: 14px;
                margin: 12px 4px 12px;
                width: 94.7%;
            }
        }

    }
}

@media only screen and (min-width: 1200px) {

    .section6 {
        padding-top: 421px;
        padding-bottom: 50px;



        .column {
            .contact {
                margin-left: 24px;
                padding-top: 2px;
            }



            &.one {
                .title {
                    padding-right: 180px;
                    line-height: 1.19;
                    padding-top: 4px;

                }

                .slogan {
                    padding-top: 7px;
                    padding-right: 40px;
                }
            }

            &.two {
                flex: 2 1 32%;
            }

            &.three {
                flex: 1 1 43.8%;
            }

            .socials {
                margin-left: 4px;
                margin-top: 7px;

                .social {
                    padding-bottom: 9%;
                    padding-right: 42.2px;
                    position: relative;

                    svg {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}