.footer {
    background-color: var(--footTask2);
    padding: 30px 0px 39px;

    .container {
        .col-12 {
            .foot--container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                color: var(--white);
                position: relative;

                .copyrights{ 
                    font-size: 16px;
                    line-height: 25px;
                }
                .creator--sing{
                    font-size: 15px;
                    line-height: 25px;

                    .color--word--in--footer{
                        color: var(--btnNoHoverColor);
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer .container .col-12 .foot--container .copyrights {
        font-size: 14px;
    }
    .footer .container .col-12 .foot--container .creator--sing {
        font-size: 14px;
    }
}
@media (max-width: 575.98px) {
    .footer .container .col-12 .foot--container {
        flex-direction: column;
        text-align: center;
    }
    .footer .container .col-12 .foot--container .mini--logo {
        margin: 5px 0px;
    }
}