.header {
    position: fixed;
    z-index: 1;
    width: 100%;

    .header--menu {
        display: flex;
        justify-content: space-between;
        align-items:center;
        font-size: 16px;
        font-family: var(--footTask2);
        font-weight: var(--font-weight-bold);

        .logo {
            margin-left: 166px;
            padding-top: 49px;
        }
        .menu {
            display: flex;
            padding-right: 165px;

            .menu--item, .tasks {
                padding-left: 38px;
                margin-top: 49px;
            }
        }
    }
}