.header {
    position: fixed;
    z-index: 1;
    width: 100%;

    .header--menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        font-size: 16px;
        font-family: var(--footTask2);
        font-weight: var(--font-weight-bold);

        .logo {
            margin-left: 166px;
            padding-top: 49px;
        }
        .menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-right: 165px;

            .menu--item, .tasks {
                padding-left: 38px;
                margin-top: 49px;
            }
        }
        
    }
}
.mobile--menu{
    display: none;
}

@media (max-width: 768px) { 

    .header .header--menu .menu {
        display: none;
    }
    .header .header--menu .logo {
        padding-top: 30px;
        margin: auto;
    }

    //  mobile menu   
    .mobile--menu, .mobile--menu--list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile--menu {
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: #fff;
        padding: 20px;
        transition: 0.5s;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }

    .mobile--menu--list {
        margin: 0;
        padding: 0;
        width: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    .mobile--menu input:checked ~ .mobile--menu--list {
        width: 550px;
    }

    .mobile--menu--list li {
        list-style: none;
        margin: 0 10px;
    }

    .mobile--menu--list li a {
        text-decoration: none;
        color: #666;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.5s;
    }

    .mobile--menu--list li a:hover {
        color: #161919;
    }

    .mobile--menu input {
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 0;
        margin: 4px;
    }

    .mobile--menu span {
        position: absolute;
        left: 30px;
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: #666;
        pointer-events: none;
        transition: 0.5s;
    }

    .mobile--menu input:checked ~ span {
        background-color: #f974a1;
    }

    .mobile--menu span:nth-child(2) {
        transform: translateY(-8px);
    }

    .mobile--menu input:checked ~ span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
    }
    .mobile--menu span:nth-child(3) {
        transform: translateY(8px);
    }

    .mobile--menu input:checked ~ span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
    }
}
@media (max-width: 575.98px) {
    .header .header--menu .logo {
        padding-top: 33px;
        margin: auto;
        width: 20%;
    }
    .mobile--menu {
        border-radius: 50px;
        left: 11px;
        top: 34px;
        padding: 3px 10px 5px;
    }
    .mobile--menu span:nth-child(2) {
        transform: translateY(-5px);
    }
    .mobile--menu span:nth-child(3) {
        transform: translateY(5px);
    }
    .mobile--menu input {
        width: 15px;
        height: 10px;
        margin: 2px;
    }
    .mobile--menu span {
        left: 11px;
        width: 17px;
        height: 4px;
        border-radius: 50px;
    }
    .mobile--menu input:checked ~ .mobile--menu--list {
        width: 260px;
    }
    .mobile--menu--list li {
        margin: 0 2px;
    }
    .mobile--menu--list li a {
        font-size: 10px;
    }
}