.section4 {
    background-color: var(--background-color-sec3);
    padding: 65px 0 120px;

    .container {
        .row {
            .col-12 {
                .row {
                    .col-12  {
                        .gallery--text--container {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: column;
                                    flex-direction: column;

                            .title--gallery {
                                text-align: center;
                                font-size: 90px;
                                font-family: var(--fontTask2);
                                font-weight: var(--font-weight-bold);
                            }
                            .text--gallery {
                                font-size: 17px;
                                text-align: center;
                                padding-top: 8px;
                                padding-bottom: 42px;
                                line-height: 1.6;
                                width: 50%;
                                margin: auto;
                            }
                        }
                    }
                    .col-lg-8, .col-lg-4, .col-lg-6 {
                        .gal1, .gal2, .gal3, .gal4, .gal5 {
                                margin-bottom: 30px;
                                -webkit-box-shadow: 0px 5px 15px -7px rgba(66, 68, 90, 1);
                                        box-shadow: 0px 5px 15px -7px rgba(66, 68, 90, 1);
                        }
                    }
                }
                .gallery--btn--div{
                    text-align: center;

                    .btn--gallery {
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-light);
                        font-size: 20px;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        margin-top: 19px;
                        width: 17%;
                        background-color: var(--btnGalleryTask2);
                        -webkit-box-shadow:0px 2px 2.5px rgba(0,0,0,0.5);
                                box-shadow:0px 2px 2.5px rgba(0,0,0,0.5);

                        &:hover {
                            -webkit-filter: brightness(0.6);
                                    filter: brightness(0.6)
                        }
                    }
                    }
            }
        }   
    }
}

@media (max-width: 767.98px) {
    .section4 {
        padding: 20px 0 50px;
      }
    .section4 .container .row .col-12 .row .col-12 .gallery--text--container .title--gallery {
        font-size: 65px;
    }
    .section4 .container .row .col-12 .row .col-12 .gallery--text--container .text--gallery {
        font-size: 14px;
        text-align: center;
        padding-bottom: 30px;
        width: 100%;
        margin: auto;
    }
    .section4 .container .row .col-12 .row .col-lg-8 .gal1, .section4 .container .row .col-12 .row col-lg-8 .gal2, .section4 .container .row .col-12 .row col-lg-8 .gal3, .section4 .container .row .col-12 .row col-lg-8 .gal4, .section4 .container .row .col-12 .row col-lg-8 .gal5, .section4 .container .row .col-12 .row .col-lg-4 .gal1, .section4 .container .row .col-12 .row .col-lg-4 .gal2, .section4 .container .row .col-12 .row .col-lg-4 .gal3, .section4 .container .row .col-12 .row .col-lg-4 .gal4, .section4 .container .row .col-12 .row .col-lg-4 .gal5, .section4 .container .row .col-12 .row col-lg-6 .gal1, .section4 .container .row .col-12 .row col-lg-6 .gal2, .section4 .container .row .col-12 .row col-lg-6 .gal3, .section4 .container .row .col-12 .row col-lg-6 .gal4, .section4 .container .row .col-12 .row col-lg-6 .gal5 {
        margin-bottom: 25px;
        width: 100%;
    }
    .section4 .container .row .col-12 .gallery--btn--div .btn--gallery {
        font-size: 14px;
        padding-left: 13px;
        padding-right: 7px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 19px;
        width: 25%;
    }
}
@media (max-width: 575.98px) {
    .section4 .container .row .col-12 .row .col-12 .gallery--text--container .title--gallery {
        font-size: 40px;
    }
    .section4 .container .row .col-12 .row .col-12 .gallery--text--container .text--gallery {
        font-size: 12px;
    }
    .section4 .container .row .col-12 .gallery--btn--div .btn--gallery {
        font-size: 14px;
        width: 100%;
        margin-top: 0px;
    }
 }