.section3 {
    background-color: var(--background-color-sec2);
    padding: 133px 0 142px;

    .container {
        .row {
            .col-6 {
                .icons--list {
                    display: flex;
                    flex-direction: column;
                    padding-right: 70px;
                    padding-top: 36px;

                    .icon--holder{
                        display: flex;
                        background-color: var(--white);
                        margin: 10px 0px;
                        max-width: 400px;
                        box-shadow: 3px 8px 13px -7px var(--footTask2);

                        &:hover {
                            box-shadow: 2px 7px 15px -4px var(--footTask2);
                        }
                        .title--icon{
                            font-size: 20px;
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-bold);
                            line-height: 1.3;
                            flex: 1 1 auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            max-width: 300px;
                        }
                        .icon--general {
                            border-left: 1px solid var(--footTask2);
                            width: 100px;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 100px;
                            &.-cart{
                                background-image: var(--cart);
                            }
                            &.-plant {
                                background-image: var(--plant);
                            }
                            &.-planet {
                                background-image: var(--planet);
                            }
                            &.-carrot {
                                background-image: var(--carrot);
                            }
                        }

                    }
                }
                .wrapper--services {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-top: -51px;
                    margin-left: 23px;

                    .tomato--image {
                        position: absolute;
                        left: 87px;
                        top: 14px;
                    }
                    .title--services  {
                        color: var(--white);
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-bold);
                        font-size: 90px;
                        position: relative;
                        margin-right: -30px; // when container >1200px
                    }
                }
            }
        }
    }
}