.section--five {
    @media (max-width: 767.98px) {
        padding: 10px 0px 20px;
    }
    overflow: hidden;
    padding: 48px 0px 78px;
    .background-subs {
        @media (max-width: 575.98px) {
            display: none;
        }
        width: 555px;
        max-width: initial;
        margin-top: 30px;
        margin-left: -54px;    
    }
}
.wrapper--subs {
    @media (max-width: 575.98px) {
        width: 100%;
    }
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .title-subs{
        @media (max-width: 1499.98px) {
            font-size: 50px;
        }
        @media (max-width: 575.98px) {
            font-size: 35px;
            text-align: center;
        }
        font-family: var(--fontTask2);
        font-weight: var(--font-weight-bold);
        font-size: 40px;
    }
    .text-subs {
        @media (max-width: 767.98px) {
            font-size: 14px;
        }
        @media (max-width: 575.98px) {
            font-size: 12px;
            text-align: left;
            width: 100%;
        }
        font-size: 17px;
        margin-top: 12px;
        padding-bottom: 10px;
        width: 72%;   
    }
    .subs-form {
        @media (max-width: 1499.98px) {
            width: 130%;
        }
        @media (max-width: 767.98px) {
            width: 135%;
        }
        @media (max-width: 575.98px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        display: flex;
        align-items: baseline;
        .subs-input {
            @media (max-width: 575.98px) {
                padding: 5px;
                width: 75%;
                margin: 5px 0 10px;
            }
            margin-top: 19px;
            margin-right: 30px;
            padding: 13px;
            flex: 1 1 auto;
            &::placeholder {
                font-size: 15px;
                color:var(--inputTask2Subs);
            }
        }
        .btn-subs{
            @media (max-width: 767.98px) {
                font-size: 16px;
                width: 134px;
                padding: 16px 10px;
            }
            @media (max-width: 575.98px) {
                padding: 7px 10px;
                width: 218px;
            }
            width: 170px;
            font-family: var(--fontTask2);
            font-weight: var(--font-weight-light);
            font-size: 20px;
            padding: 10px 10px 13px 10px; 
            background-color: var(--subsribeBtn);
            color: var(--white);
            &:hover {
                background-color: rgb(125, 155, 37);
            }
        }
    }
}