.section6 {
    height: 865px;
    background-color: var(--background-color-sec6);
    padding: 82px 0px 99px 0px;

    .container {
        .row {
            .col-12 {
                .blog--text--title{
                    color: var(--white);
                    font-size: 90px;
                    font-family: var(--fontTask2);
                    font-weight: var(--font-weight-bold);
                }
                .blog--text {
                    color: var(--white);
                    font-size: 17px;
                    padding-top: 14px;
                    padding-bottom: 45px;
                    width: 49%;
                    margin: 0 auto;
                }
                .btn--blog--div{
                    text-align: center;

                    .btn--blog {
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-light);
                        background-color: var(--btnBlogTask2);
                        font-size: 20px;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        width: 17%;
                        margin-top: 49px;
                        border: none;

                        &:hover {
                            background-color: rgb(232, 39, 55);
                        }
                    }
                }
            }
            .col-4 {
                .post {
                    color: var(--white);
                    display: flex;
                    flex-direction: column;

                    .post--link {
                        .post--date {
                            border-radius: 5px;
                            background-color: var(--footTask2);
                            width: 60px;
                            height: 60px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 30px;
                            left: 45px;
                            
                            >.day {
                                font-family: var(--fontTask2);
                                font-weight: var(--font-weight-bold);
                                font-size: 32px;
                                margin-top: -11px;
                            }
                            >.month {
                                font-family: var(--fontTask2Title);
                                font-size: 21px;
                                margin-top: -11px;
                            }
                        }
                        .post--title {
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-bold);
                            font-size: 20px;
                            line-height: 25px;
                            position: absolute;
                            bottom: 57px;
                            left: 35px;
                            width: 88%;
                            padding-right: 10px;
                        }
                        .post--autor  {
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-light);
                            font-size: 13px;
                            position: absolute;
                            bottom: 22px;
                            left: 35px;
                        }
                    }
                }
            }
        }
    }
} 