.section--two {
    @media (max-width: 575.98px) {
        padding: 35px 0px 45px;
    }
    background-color: var(--background-color-sec1);
    padding: 51px 0px 60px;
    display: flex;
}
.section--image {
    @media (max-width: 1499.98px) {
        width: 120%;
    }
    @media (max-width: 767.98px) {
        width: 100%;
    }
    @media (max-width: 575.98px) {
        margin: auto;
        width: 50%;
    }
    width: 600px;
    margin-left: -14px;
}
.about--text-area {
    @media (max-width: 767.98px) {
        padding-bottom: 0;
        margin-left: 0;
    }
    color: var(--white);
    position: relative;
    margin-left: 69px;
    padding-bottom: 62px;
    .about-title {
        @media (max-width: 1499.98px) {
            font-size: 50px;
        }
        @media (max-width: 575.98px) {
            font-size: 40px;
            text-align: center;
        }
        font-size: 90px;
        font-family: var(--fontTask2);
        font-weight: var(--font-weight-bold);
        position: relative;
        margin-bottom: -8px;        
    }
    .about-text {
        @media (max-width: 575.98px) {
            font-size: 14px;
            text-align: left;
            width: 80%;
            margin: auto;
        }
        font-size: 17px;
        position: relative;
        .about-text-paragraf {
            margin-bottom: 10px;
        }
        .about--text-paragraf-two {
            @media (max-width: 767.98px) {
                font-size: 14px;
            }
            margin-bottom: 0
        }        
    }
}