.section--three {
    @media (max-width: 767.98px) {
        padding: 50px 0 42px;
    }
    @media (max-width: 575.98px) {
        padding: 100px 0 42px;
    }
    background-color: var(--background-color-sec2);
    padding: 133px 0 142px;
    .icons--list {
        @media (max-width: 1499.98px) {
            padding-right: 0;
            padding-top: 0;
        }
        @media (max-width: 575.98px) {
            margin: auto;
            align-items: center;
        }
        display: flex;
        flex-direction: column;
        padding-right: 70px;
        padding-top: 36px;
        .icon--holder{
            @media (max-width: 767.98px) {
                width: 100%;
            }
            @media (max-width: 575.98px) {
                margin: 8px 0px;
                width: 90%;
            }
            display: flex;
            background-color: var(--white);
            margin: 10px 0px;
            max-width: 400px;
            box-shadow: 3px 8px 13px -7px var(--footTask2);
            &:hover {
                box-shadow: 2px 7px 15px -4px var(--footTask2);
            }
            .title--icon{
                @media (max-width: 1499.98px) {
                    flex: 1 1 100%;
                }
                @media (max-width: 767.98px) {
                    font-size: 14px;
                    padding: 5px;
                }
                @media (max-width: 575.98px) {
                    border-right: 1px solid var(--footTask2);
                    font-size: 12px;
                }
                font-size: 20px;
                font-family: var(--fontTask2);
                font-weight: var(--font-weight-bold);
                line-height: 1.3;
                flex: 1 1 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 300px;  
            }
            .icon--general {
                @media (max-width: 767.98px) {
                    height: 65px;
                }
                @media (max-width: 575.98px) {
                    width: 45px;
                    height: 50px;
                    background-size: contain;
                    margin: 0 7px;
                    border: none;
                }
                border-left: 1px solid var(--footTask2);
                width: 100px;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                height: 100px;
                &.-cart{
                    background-image: var(--cart);
                }
                &.-plant {
                    background-image: var(--plant);
                }
                &.-planet {
                    background-image: var(--planet);
                }
                &.-carrot {
                    background-image: var(--carrot);
                }
            }
        }
    }
    .wrapper--services {
        @media (max-width: 767.98px) {
            margin-left: 0px;
        }
        @media (max-width: 575.98px) {
            display: block;
            margin: -340px auto;
        }
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -51px;
        margin-left: 23px;
        .tomato--image {
            @media (max-width: 1499.98px) {
                top: 20%;
                left: 0;
            }
            @media (max-width: 767.98px) {
                top: 15%;
                width: 95%;
                left: 5%;
            }
            @media (max-width: 575.98px) {
                display: none;
            }
            position: absolute;
            left: 87px;
            top: 14px;
        }
        .title--services  {
            @media (max-width: 1499.98px) {
                font-size: 50px;
                margin-right: 0px;
            }
            @media (max-width: 767.98px) {
                margin-top: 0;
                margin-left: 0;
                text-align: center;
                text-shadow: 0px 0px 2px var(--footTask2);
            }
            @media (max-width: 575.98px) {
                font-size: 40px;
                margin-right: 0px;
                text-shadow: none;
            }
            color: var(--white);
            font-family: var(--fontTask2);
            font-weight: var(--font-weight-bold);
            font-size: 90px;
            position: relative;
            margin-right: -30px;        
        }
    }
}