.section5 {
    padding: 48px 0px 78px;

    .container {
        .row {
            .col-lg-8 {
                .wrapper--subs {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    position: relative;
                    z-index: 1;

                    .title--subs{
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-bold);
                        font-size: 40px;
                    }
                    .text--subs {
                        font-size: 17px;
                        margin-top: 12px;
                        padding-bottom: 10px;
                        width: 72%;
                    }
                    .subs--form {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: baseline;
                            -ms-flex-align: baseline;
                                align-items: baseline;

                        .subs--input {
                            margin-top: 19px;
                            padding: 13px;
                            -webkit-box-flex: 1;
                                -ms-flex: 1 1 auto;
                                    flex: 1 1 auto;
                            margin-right: 30px;

                            &::-webkit-input-placeholder {
                                font-size: 15px;
                                color:var(--inputTask2Subs);
                            }

                            &::-moz-placeholder {
                                font-size: 15px;
                                color:var(--inputTask2Subs);
                            }

                            &:-ms-input-placeholder {
                                font-size: 15px;
                                color:var(--inputTask2Subs);
                            }

                            &::-ms-input-placeholder {
                                font-size: 15px;
                                color:var(--inputTask2Subs);
                            }

                            &::placeholder {
                                font-size: 15px;
                                color:var(--inputTask2Subs);
                            }
                        }
                        .btn--subs{
                            width: 170px;
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-light);
                            font-size: 20px;
                            padding: 10px 10px 13px 10px; 
                        }
                    }
                }
            }
            .col-lg-4 {
                .background--subs {
                    width: 555px;
                    max-width: initial;
                    margin-top: 30px;
                    margin-left: -54px;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .section5 {
        padding: 10px 0px 20px;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .title--subs {
        font-size: 50px;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .text--subs {
        font-size: 14px;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .subs--form .btn--subs {
        font-size: 16px;
        width: 134px;
        padding: 16px 10px;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .subs--form {
        width: 135%;
    }

}


@media (max-width: 575.98px) {
    .section5 .container .row .col-lg-8 .wrapper--subs .title--subs {
        font-size: 35px;
        text-align: center;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .text--subs {
        font-size: 12px;
    }
    .section5 .container .row .col-lg-4 .background--subs {
        display: none;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs {
        width: 100%;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .text--subs {
        text-align: center;
        width: 100%;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .subs--form .subs--input {
        padding: 5px;
        width: 75%;
        margin: 5px 0 10px;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .subs--form {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .section5 .container .row .col-lg-8 .wrapper--subs .subs--form .btn--subs {
        padding: 7px 10px;
        width: 218px;
    }
}