.section7 {
    background-image: url('./tasks/task2/img/sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 68px 0 120px;

    .container {
        .row {
            .col-12 {
                .contact--text--container {
                    text-align: center;
                    position: relative;

                    .contact--title {
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-bold);
                        font-size: 90px;
                    }
                    .contact--text {
                        font-size: 17px;
                        position: relative;
                        width: 30%;
                        margin: 6px auto 42px;
                    
                    }
                }
            }
            .col-lg-6 {
                .contact--form {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;

                    .feedback-input {
                        padding: 14px 17px 12px 20px;
                        margin-bottom: 16px;
                        width: 500px;
                        color: var(--white);
                        background-color: var(--contactFormTask2);
                        border: none;

                        &:last-child {
                            margin-bottom: 0px;
                        }
                        &:active, &:focus {
                            -webkit-box-shadow: inset 5px 0px 0 0 var(--contactFormActive);
                                    box-shadow: inset 5px 0px 0 0 var(--contactFormActive);
                             outline: none;
                        }
                        &:placeholder {
                            color: var(--white);
                        }
                    }
                    textarea {
                        min-height: 250px;
                        opacity: 0.5;
                    }
                }
                .adres{
                    font-size: 17px;
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    line-height: 1;
                    padding-left: 70px;

                    .street, .mail{
                        padding-bottom: 19px;
                    }
                    .bolder {
                        font-weight: var(--font-weight-bold);
                        display: block;
                        margin-bottom: 4px;
                    }
                    .font {
                        font-weight: var(--font-weight-light);
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
   .section7 {
        padding: 40px 0 75px;
   } 
   .section7 .container .row .col-12 .contact--text--container .contact--title {
        font-size: 50px;
   }
   .section7 .container .row .col-12 .contact--text--container .contact--text {
        width: 80%;
        margin: 6px auto 30px;
        font-size: 14px;
   }
   .section7 .container .row .col-lg-6 .adres .font {
    font-size: 14px;
   }
   .section7 .container .row .col-lg-6 .adres {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    padding: 0;
   }
   .section7 .container .row .col-lg-6 .contact--form .feedback-input {
    width: 352px;
   }
}

@media (max-width: 576px) {
    .section7 .container .row .col-lg-6 .contact--form .feedback-input {
    width: 500px;
    }
}