.section6 {
    background-color: var(--background-color-sec6);
    padding: 82px 0px 99px 0px;

    .container {
        .row {
            .col-12 {
                .blog--text--title{
                    color: var(--white);
                    font-size: 90px;
                    font-family: var(--fontTask2);
                    font-weight: var(--font-weight-bold);
                }
                .blog--text {
                    color: var(--white);
                    font-size: 17px;
                    padding-top: 14px;
                    padding-bottom: 45px;
                    width: 49%;
                    margin: 0 auto;
                }
                .btn--blog--div{
                    text-align: center;

                    .btn--blog {
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-light);
                        background-color: var(--btnBlogTask2);
                        font-size: 20px;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        width: 17%;
                        margin-top: 49px;
                        border: none;

                        &:hover {
                            background-color: rgb(232, 39, 55);
                        }
                    }
                }
            }
            .col-lg-4 {
                .post {
                    color: var(--white);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;

                    .post--link {
                        .post--date {
                            border-radius: 5px;
                            background-color: var(--footTask2);
                            width: 60px;
                            height: 60px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: column;
                                    flex-direction: column;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            position: absolute;
                            top: 30px;
                            left: 45px;
                            
                            >.day {
                                font-family: var(--fontTask2);
                                font-weight: var(--font-weight-bold);
                                font-size: 32px;
                                margin-top: -11px;
                            }
                            >.month {
                                font-family: var(--fontTask2Title);
                                font-size: 21px;
                                margin-top: -11px;
                            }
                        }
                        .post--title {
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-bold);
                            font-size: 20px;
                            line-height: 25px;
                            position: absolute;
                            bottom: 57px;
                            left: 35px;
                            width: 88%;
                            padding-right: 10px;
                        }
                        .post--autor  {
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-light);
                            font-size: 13px;
                            position: absolute;
                            bottom: 22px;
                            left: 35px;
                        }
                    }
                }
            }
        }
    }
} 

@media (max-width: 767.98px) {
    .section6 {
        padding: 40px 0px 50px;
    }
    .section6 .container .row .col-12 .blog--text--title {
        font-size: 50px;
    }
    .section6 .container .row .col-12 .blog--text {
        width: 100%;
        font-size: 14px;
    }
    .section6 .container .row .col-lg-4 .post {
        padding: 10px;
        text-align: center;
    }
    .section6 .container .row .col-lg-4 .post .post--link .post--date {
        left: 20%;
    }
    .section6 .container .row .col-lg-4 .post .post--link .post--title {
        left: 20%;
        width: 60%;
        padding-right: 0;
    }
    .section6 .container .row .col-lg-4 .post .post--link .post--autor {
        left: 20%;
    }
    .section6 .container .row .col-12 .btn--blog--div .btn--blog {
        font-size: 14px;
        width: 30%;
        margin-top: 10px;
    }
}

@media (max-width: 575.98px) {
    .section6 .container .row .col-12 .blog--text--title {
        font-size: 40px;
    }
    .section6 .container .row .col-12 .blog--text {
        font-size: 12px;
    }
    .section6 .container .row .col-lg-4 .post .post--link .post--date {
        left: 125px;
    }
    .section6 .container .row .col-lg-4 .post .post--link .post--title {
        left: 20%;
        width: 60%;
    }
    .section6 .container .row .col-lg-4 .post .post--link .post--autor {
        left: 25%;
    }
    .section6 .container .row .col-12 .btn--blog--div .btn--blog {
        font-size: 14px;
        width: 50%;
        display: block;
        margin: auto;
    }
}