.section3 {
    background-color: var(--background-color-sec2);
    padding: 133px 0 142px;

    .container {
        .row {
            .col-lg-6 {
                .icons--list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    padding-right: 70px;
                    padding-top: 36px;

                    .icon--holder{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        background-color: var(--white);
                        margin: 10px 0px;
                        max-width: 400px;
                        -webkit-box-shadow: 3px 8px 13px -7px var(--footTask2);
                                box-shadow: 3px 8px 13px -7px var(--footTask2);

                        &:hover {
                            -webkit-box-shadow: 2px 7px 15px -4px var(--footTask2);
                                    box-shadow: 2px 7px 15px -4px var(--footTask2);
                        }
                        .title--icon{
                            font-size: 20px;
                            font-family: var(--fontTask2);
                            font-weight: var(--font-weight-bold);
                            line-height: 1.3;
                            -webkit-box-flex: 1;
                                -ms-flex: 1 1 auto;
                                    flex: 1 1 auto;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            text-align: center;
                            max-width: 300px;
                        }
                        .icon--general {
                            border-left: 1px solid var(--footTask2);
                            width: 100px;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 100px;
                            &.-cart{
                                background-image: var(--cart);
                            }
                            &.-plant {
                                background-image: var(--plant);
                            }
                            &.-planet {
                                background-image: var(--planet);
                            }
                            &.-carrot {
                                background-image: var(--carrot);
                            }
                        }

                    }
                }
                .wrapper--services {
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    margin-top: -51px;
                    margin-left: 23px;

                    .tomato--image {
                        position: absolute;
                        left: 87px;
                        top: 14px;
                    }
                    .title--services  {
                        color: var(--white);
                        font-family: var(--fontTask2);
                        font-weight: var(--font-weight-bold);
                        font-size: 90px;
                        position: relative;
                        margin-right: -30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .section3 {
        padding: 50px 0 42px;
      }
    .section3 .container .row .col-lg-6 .icons--list {
        padding-right: 0px;
        padding-top: 0px;
      }
      .section3 .container .row .col-lg-6 .icons--list .icon--holder .title--icon {
        font-size: 14px;
        flex: 1 1 100%;
        padding: 5px;
      }
      .section3 .container .row .col-lg-6 .icons--list .icon--holder .icon--general {
        height: 65px;
      }
      .section3 .container .row .col-lg-6 .icons--list .icon--holder {
        width: 100%;
      }
      .section3 .container .row .col-lg-6 .wrapper--services .tomato--image {
        top: 15%;
        width: 95%;
        left: 5%;
      }
      .section3 .container .row .col-lg-6 .wrapper--services .title--services {
        font-size: 50px;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
        text-shadow: 0px 0px 2px var(--footTask2);
        margin-right: 0px;
      }
      .section3 .container .row .col-lg-6 .wrapper--services {
        margin-left: 0px;
      }
}

@media (max-width: 575.98px) {
    .section3 {
        padding: 100px 0 42px;
      }
    .section3 .container .row .col-lg-6 .icons--list .icon--holder {
        margin: 8px 0px;
        width: 90%;
    }
    .section3 .container .row .col-lg-6 .icons--list .icon--holder .icon--general {
        width: 45px;
        height: 50px;
        background-size: contain;
        margin: 0 7px;
        border: none;
    }
    .section3 .container .row .col-lg-6 .icons--list .icon--holder .title--icon {
        border-right: 1px solid var(--footTask2);
        font-size: 12px;
    }
    .section3 .container .row .col-lg-6 .wrapper--services .title--services {
        font-size: 40px;
        margin-right: 0px;
        text-shadow: none;
    }
    .section3 .container .row .col-lg-6 .wrapper--services .tomato--image {
        display: none;
    }
    .section3 .container .row .col-lg-6 .wrapper--services {
        margin-left: 141px;
        margin-top: -625px;
    }
    .section3 .container .row .col-lg-6 .icons--list {
        padding-right: 0px;
        padding-top: 0px;
        margin: auto;
      }
}