.section1 {
    min-height: 92.5vh;
    display: flex;
    
    .container {
        .row {
            .col-12 {
                .sec1--text {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 62px;
                    z-index: 1;

                    .slogan {
                        .title {
                            font-family: var(--fontTask2Title);
                            font-size: 60px;
                            margin-left: -4px;
                        }
                        .motto {
                            font-size: 17px;
                            padding-top: 3px;
                            padding-bottom: 10px;
                            line-height: 27px;
                        }
                        .btn--header {
                            font: var(--font-weight-light);
                            font-size: 20px;
                            width: auto;
                            padding: 14px 25px;
                            background-color: var(--btnHeader);
                            color: var(--white);

                            &:hover {
                                background-color: rgb(255, 115, 0);
                            }
                        }
                    }
                }
                .scroll {
                    position: absolute;
                    bottom: 69px;
                    left: 50%;
                    transform:translateX(-50%);
                    z-index: 1;
                }
            }
        }
    }
    .main--background {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}