.section1 {
    min-height: 92.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    .container {
        .row {
            .col-lg-12 {
                .sec1--text {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    margin-bottom: 62px;
                    z-index: 1;

                    .slogan {
                        .title {
                            font-family: var(--fontTask2Title);
                            font-size: 60px;
                            margin-left: -4px;
                        }
                        .motto {
                            font-size: 17px;
                            padding-top: 3px;
                            padding-bottom: 10px;
                            line-height: 27px;
                        }
                        .btn--header {
                            font: var(--font-weight-light);
                            font-size: 20px;
                            width: auto;
                            padding: 14px 25px;
                            background-color: var(--btnHeader);
                            color: var(--white);

                            &:hover {
                                background-color: rgb(255, 115, 0);
                            }
                        }
                    }
                }
                .scroll {
                    position: absolute;
                    bottom: 69px;
                    left: 50%;
                    -webkit-transform:translateX(-50%);
                        -ms-transform:translateX(-50%);
                            transform:translateX(-50%);
                    z-index: 1;
                }
            }
        }
    }
        .main--background {
            position: absolute;
            z-index: -1;
            width: 100%;
    }
}

@media (max-width: 768px) {  
    .section1 {
        min-height: 64vh;
    }
    .section1 .main--background {
        width: 140%;
        left: -50px;
    }
    .slogan { 
        margin-top: 50px;
    }
}
@media (max-width: 576px) {
    .section1 {
        min-height: 54vh;
    }
    .section1 .main--background {
        width: 152%;
        left: -65px;
    }
    .slogan { 
        margin-top: 50px;
    }
    .section1 .container .row .col-lg-12 .sec1--text .slogan .title {
        font-size: 50px;
        margin-left: -2px;
    }
    .section1 .container .row .col-lg-12 .sec1--text .slogan .motto {
        font-size: 14px;
    }
    .section1 .container .row .col-lg-12 .sec1--text .slogan .btn--header {
        font-size: 14px;
        padding: 8px 15px;
    }
}