button{
    width: 100%;
    background: var(--buttons);
    text-shadow: 1px 0.7px var(--buttonTextShadow); 
    border: 0.5px solid var(--buttonBorder);
    color: var(--white);
    border-radius: var(--border-radius);
    font-size: 30px;
    font-family: var(--font);
    font-weight: var(--font-weight-medium);
    padding: 4px;
}
button:hover{
    background:  var(--buttonHover); 
    cursor: pointer;
}
.btnRegister, .btnSendEmail {
    margin-top: 5px;
}  
.btnSingIn {
    width: auto;
    padding: 10px 30px 11px;
    font-size: 25px;
    line-height: 1;
}
.btnSend, .btnDone {
    width: 165px;
    font-size: 20px;
}
.btnDone {
    margin-left: 40px;
    background-color: var(--buttonDoneColor);
}
.btnSubsribe, .btnNo {
    width: 165px;
    font-size: 20px;
}
.btnNo {
    margin-left: 40px;
    background-color: var(--btnNoColor);
}
.btnNo:hover {
    background-color: var(--btnNoHoverColor);
}