.recoverForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 400px;
    height: 230px;
    background-color: var(--background-color-forms);
    padding: 10px 20px 30px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 0px 15px var(--textAndBorder-color);
}
.insideIconPhone{ /* span*/
    height: 50px;
    width: 100%;
    background-image: var(--phone);
    background-repeat: no-repeat;
    display: block;
    margin: 2px 2px 7px 9px;
}
.wrapper3 {
    display: flex;
    align-items:center;
    align-items: baseline;
}
.btnSend, .btnDone {
    width: 165px;
    font-size: 20px;
}
.btnDone {
    margin-left: 40px;
    background-color: var(--buttonDoneColor);
}