<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ekran powitalny</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap" rel="stylesheet">    
    <base href="/">
</head>
<body>
    <div class="tasks">
        <p><a href="./tasks/1.html">Zadanie 1</a></p>
        <p><a href="./tasks/2.html">Zadanie 2</a></p>
        <p><a href="./tasks/3.html">Zadanie 3</a></p>
    </div>
<!-- Logo -->
        <picture>
            <source srcset="<%= require('./tasks/task1/img/gekonLogo.avif').default %>" type="image/avif">
            <source srcset="<%= require('./tasks/task1/img/gekonLogo.webp').default %>" type="image/webp">
            <img src="<%= require('./tasks/task1/img/gekonLogo.png').default %>" alt="logo" class="logo">
        </picture>
</body>
</html>