@font-face {
    /* titilium light */
    font-family: 'titillium';
    src: url("../font/TitilliumText22L004.otf");
}
@font-face {
        /* titilium medium  */
        font-family: 'titillium2';
        src: url("../font/TitilliumText22L002.otf");
}
html { 
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing:border-box;
  }

body{
    padding: 0;
    margin: 0;
    font-family: 'titillium';
}
/* Register form */
.container{
    margin-top: 100px;
    margin-bottom: 50px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 300px;
    opacity: 0.4;
    margin-top: 20px;
}
.formName{    
    font-size: 42px;
    text-shadow: 0.7px 0.7px #0e0d0d;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}
.registerForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 400px;
    height: 450px;
    background-color: #f3f3f3;
    padding: 10px 20px 30px 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 15px #6e6e6e8f;
}
.wrapper{
    margin: 10px 10px;
    height: 40px;
    margin-bottom: 15px;
}
.name{ /* label*/
    border: 1px solid #6e6e6e8f;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
    width: 100%;
    height: 40px;
}
.insideLabel{
    border-right: 1px solid #6e6e6e8f;
    margin-right: 10px;
    width: 50px;
    height: 30px;
    display: inline-flex;
    align-content: center;
}
.insideIconUsername{ /* span*/
    height: 90px;
    width: 100%;
    background-image: url("../img/glyphicons_003_user.png");
    display: block;
    background-repeat: no-repeat;
    margin: 5px 2px 5px 6px;
}
.insideIconPass{ /* span*/
    height: 50px;
    width: 100%;
    background-image: url("../img/glyphicons_203_lock.png");
    background-repeat: no-repeat;
    display: block;
    margin: 2px 2px 7px 7px;
}
.insideIconPass2{ /* span*/
    height: 50px;
    width: 100%;
    background-image: url("../img/glyphicons_203_lock.png");
    background-repeat: no-repeat;
    display: block;
    margin: 2px 2px 7px 7px;
}   
.insideIconEmail{ /* span*/
    background-image: url("../img/glyphicons_010_envelope.png");
    height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 7px 2px 5px 6px;
    
}
.insideIconLocation{ /* span*/
    height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 2px 10px;
    background-image: url("../img/glyphicons_242_google_maps.png");
    
}
input:focus{
    outline: none;
}
input {
    margin-left: 10px;
    display: inline-flex;
    background-color: #f3f3f3;
    font-family: 'titillium2';
    font-size: 20px;
    width: 390px;
    height: 24px;
    border: none;
    border-radius: 3px;
}
::placeholder {
    color: #6e6e6e8f;
    font-family: 'titillium';
  }
.labelCheck{
    margin-left: 5px;
    color: #6e6e6e8f;
    font-family: 'titillium2';
    font-weight: 700;
    text-align: right;
    font-size: 20px;
}
button{
    width: 390px;
    height: 60px;
    background: #91ce43;
    text-shadow: 1px 0.7px #729f39; 
    border: 0.5px solid #729f39;
    color: #fff;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'titillium2';
    margin: 0px;
}
button:hover{
    background:  #8cc245; 
    cursor: pointer;
}
.form-control {
    width: 390px;
    margin-top: 8px;
    --form-control-color: #91ce43;
    font-size: 19px;
    color: #6e6e6e8f;;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 25px auto;
    gap: 10px;
    
}
input[type="checkbox"] {
    appearance: none;
    background-color: #f3f3f3;
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1.5px solid #6e6e6e8f;;
    border-radius: 5px;
    display: grid;
    place-content: center; 
}
input[type="checkbox"]::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 16px 16px var(--form-control-color);
    border-radius: 2px;
    align-items: center;
} 
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
/* Send Mail Form */
.form-control2 {
    width: 390px;
    margin-top: 8px;
    --form-control-color: #91ce43;
    font-size: 19px;
    color: #6e6e6e8f;;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 25px auto;
    gap: 10px;
    margin-top: 145px;
}
.labelCheck2 {
    margin-left: 10px;
}
#textarea  {
    color: #6e6e6e8f;
    background-color: #f3f3f3;
    font-size: 20px;
    border: 1.5px solid #6e6e6e8f;;
    border-radius: 2px;
    font-family: 'titillium';
    width: 100%;
    height: 180px;
    align-content: left;
    padding-top: 10px;
}
.btnSendEmail {
    margin-top: 125px;
}
/* Sing In Form */
.singInForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 400px;
    height: 200px;
    background-color: #f3f3f3;
    padding: 10px 20px 30px 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 15px #6e6e6e8f;
}
.form-control3 {
    /* width: 390px; */
    margin-top: 8px;
    --form-control-color: #91ce43;
    font-size: 19px;
    color: #6e6e6e8f;;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 25px auto;
    gap: 10px;
}
.labelCheck3 {
    margin-left: 10px;
    width: 130px;
}
.btnSingIn {
    width: 150px;
    margin-left: 45px;
}
.wrapper2 {
    display: flex;
    align-items:center;
    align-items: baseline;
}
/* Recovere Form */
.recoverForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 400px;
    height: 200px;
    background-color: #f3f3f3;
    padding: 10px 20px 30px 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 15px #6e6e6e8f;
}
.insideIconPhone{ /* span*/
    height: 50px;
    width: 100%;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    margin: 2px 2px 7px 9px;
}
.wrapper3 {
    display: flex;
    align-items:center;
    align-items: baseline;
}
.btnSend, .btnDone {
    width: 165px;
    font-size: 20px;
}
.btnDone {
    margin-left: 40px;
    background-color: #b9d89a;
}

/* Subscribe Form */
.subscribeForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 400px;
    height: 130px;
    background-color: #f3f3f3;
    padding: 10px 20px 30px 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 15px #6e6e6e8f;
}
.btnSubsribe, .btnNo {
    width: 165px;
    font-size: 20px;
}
.btnNo {
    margin-left: 40px;
    background-color: #f55e70;
}
.btnNo:hover {
    background-color: #df5464;
}